body

    .customizeDialog

        .ant-modal-content
            background: #fff
            border-radius: 16px

            .ant-modal-body
                padding: 0
                overflow: hidden